/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* LEEETSSSS BEGGGGIN! */

html {
	height: 100vh;
}

body {
	height: 100vh;
}
.horizontalPicture {
	width: 100vw;
	height: 33vh;
}

#horizontalPicture1 {
	background-image: url("countryBike.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: bottom;
}

#horizontalPicture2 {
	background-image: url("schoolBike.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: 5%;
}

#horizontalPicture3 {
	background-image: url("cityBike.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: 10%;
	height: 34vh;
}

#splashText {
	width: 70vw;
	height: 50vh;
	margin: 22vh auto;
	position: relative;
	top: -100vh;
	z-index: 2;
	background-color: rgba(85,85,85,0.5);
	border-radius: 5px;

}

#splashText h1 {
	text-align: center;
	color: white;
	font-size: 5em;
	padding: 0;
	margin: 0;
}

#splashText h2 {
	text-align: center;
	color: #27ae60;
	font-size: 7em;
	padding: 0;
	margin: 0;
}

#subSplashText {
	z-index: 2;

}

#subSplashText h3 {
	width: 49%;
	float: left;
	text-align: right;
	margin: 0;
	padding: 0;
	font-size: 1.6em;
}

#subSplashText h4 {
	width: 40%;
	height: 10%;
	float: left;
	text-align: left;
	margin: 0;
	margin-left: 1%;
	padding: 0;
	color: #3290BE;
	font-size: 1.6em;

}
#center {
	text-align: center;
}
.btnCon {
	margin-top: 3.5%;
}

#slidingLeft {
	position: fixed;
	top: 0;
	left: 100vw;
	width: 70vw;
	height: 50vh;
	z-index: 4;
	margin: 22vh 15vw;
	background-color: rgba(85,85,85,0.5);
	border-radius: 5px;
}

.mapQuery {
	width: 70%;
	margin: 8% 15%;
}

#originInput {
	width: 70%;
}

#destinInput {
	width: 70%;
}


